.custom.bg-header {
    background-color: #3a3a50;
}
.custom.bg-body {
    background-color: #332f2d;
}
.logo:hover{
    background-color:#822424;
    transform: translateX(30px);
    border-radius:3px;
}
.logo:focus{
    background-color:#822424;
    transform: translateX(30px);
    border-radius:50%;
}
.logo:hover img{
    background-color:#822424;
    transform: rotate(-40deg);
    border-radius:3px;
}
.logo:focus img{
    background-color:#822424;
    transform: rotate(-80deg);
    border-radius:50%;
}
.logo{

    transform: translateX(30px);
}
.logo img{
    transition:.2s;
}
.horizontal-scroll-wrapper{
    width: 100px;
    height: 350px;
    overflow-x:scroll;
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
    position:absolute;
}
.horizontal-scroll-wrapper > div {
    flex: none;
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
}
.desktop.btn.btn-outline-danger {
    width:80px;
    max-width:80px;
    max-height:40px;
    transition:.3s;
}
.desktop.btn.btn-outline-danger:hover {
    border-radius:20px;
}
.desktop.btn.btn-outline-danger:active {
    border-radius:50%;
}
.text-inside-button {
    display: inline-block; /* so height and width actually take affect */
    max-width: 70px; /* so overflow hidden works and keeps text on one row */
    overflow: hidden;
    white-space: nowrap;
}
.mark-inside-button {
    background-color:red;
    border-radius:12px;
    font-size:5px;
    transform: translateX(-50px) translateY(22px);
    position:absolute;
}
.mark-inside-button-resp {
    background-color:red;
    border-radius:12px;
    font-size:9px;
    float:right;
}
.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.plus-btn {
    position:absolute;
    /* transform: translateX(-400px); */
}
.plus-btn-not-resp {
    transform: translateY(15px) translateX(450px);
}
.plus-btn-resp {
    transform: translateY(-15px);
}
.resp-tag-button {
    text-align:center;
}
.tag-item {
    text-align:center;
    width:300px;
}
.add-tag.btn.btn-outline-success {
    transform:translateY(1px);
    height:35px;
    width:35px;
    border-radius: 50%;
}
.add-tag.btn.btn-outline-success:hover span {
    transition:.4s;
    position:absolute;
    transform:translateY(-23px)translateX(-9px)rotate(90deg);
    font-size:30px;
}
.plus-text {
    position:absolute;
    transform:translateY(-23px)translateX(-9px);
    font-size:30px;
}
.input.bg-color {
    background-color: #3a3a50;
}
.card.bg-color {
    background-color: #3a3a50;
}
/*input section*/
.custom-select {
    border-radius: 20px;
    border-radius: 20px;
    width: 90px; 
    height:30px;
    font-size: 10px;
    transition:.3s;
}
.custom-select:focus {
    border-radius: 6px;
    width: 150px; 
    height:30px;
    font-size: 10px;
}
.custom-input {
    transition:.3s;
    border-radius: 20px;
    height:37px;
    width:200px;
}
.custom-input:focus {
    border-radius: 20px;
    height:37px;
    width:300px;
}
.input-wrapper>div{
    height:50px;
}
.input-button{
    transform: translateX(40px);
}
.input-button>input{
    transform: translateY(13px);
}
.input-button>label{
    transform: translateY(4px);
}
.input-button>input[id=flexCheckDefault]:checked + label {
    color: red;  
}
/*end of input section*/
.title-header {
    font-size:30px;
    color:red;
}
.custom.table-responsive >button{
    float:right;
}
.btn-circle.btn-sm { 
    width: 20px; 
    height: 20px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
.custom.alert{
    margin:auto;
    width:1000px;
}
.mobile-nav {
    transform: translateX(-10px);
}
