.custom.bg-header {
    background-color: #3a3a50;
}
.custom.bg-body {
    background-color: #332f2d;
}
.horizontal-scroll-wrapper{
    width: 100px;
    height: 300px;
    overflow-x:hidden;
    transform: rotate(-90deg) translateY(-100px);
    transform-origin: right top;
}
.horizontal-scroll-wrapper > div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
}
.desktop.btn.btn-outline-danger {
    width:80px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.plus-btn {
    position:absolute;
    /* transform: translateX(-400px); */
}
.plus-btn-not-resp {
    transform: translateY(15px) translateX(450px);
}
.plus-btn-resp {
    transform: translateY(-15px);
}
.resp-tag-button {
    text-align:center;
}
.tag-item {
    width:300px;
}
.add-tag.btn.btn-outline-success {
    border-radius: 50%;
}
.input.bg-color {
    background-color: #3a3a50;
}
.card.bg-color {
    background-color: #3a3a50;
}
.custom-select {
    border-radius: 20px;
    border-radius: 20px;
    width: 150px; 
    height:30px;
    font-size: 10px;
}
.custom-input {
    border-radius: 20px;
    height:37px;
}
.title-header {
    font-size:30px;
    color:red;
}
.custom.table-responsive >button{
    float:right;
}
.btn-circle.btn-sm { 
    width: 20px; 
    height: 20px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 
