.view.bg-color {
    background-color: #3a3a50;
    max-width: 1000px;
    max-height:500px;
    margin-left:auto;
    margin-right:auto;
    border-radius:12px;
    overflow-y:auto;
    /* position:absolute; */
}
.view.bg-color::-webkit-scrollbar {
    display: none;
}
.custom.table-responsive {
    overflow-x:hidden;
    overflow-y:hidden;
}
.custom.table-responsive::-webkit-scrollbar {
    display: none;
}
.custom-select {
    color:black;
}
